@import "../../styles/mixin.scss";
@import "../../styles/styles.scss";

.contact-us {
  text-align: left;

  .heading {
    .split-container {
      display: flex;
      align-items: center;
    }

    .heading-line {
      margin-right: 15px;
      width: 55px;
      height: auto;

      > hr {
        border: 2px solid $third-color;
      }
    }

    .heading-text {
      display: flex;
      align-items: center;
      color: $third-color;

      font-size: $content-font-size;
      font-style: normal;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .content {
    margin-top: 15px;

    color: $second-color;
    font-size: $content-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    // letter-spacing: -0.56px;

    .split-container {
      display: flex;
      align-items: center;

      .content-space {
        margin-right: 20px;
        width: 55px;
        height: auto;
      }

      .content-text {
        padding-left: 15px;
        padding-right: 15px;
        width: fit-content;

        p {
          /* text-align: justify; */
          .highlight {
            color: $third-color;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
          }
        }
      }
    }

    .image-right {
      width: -webkit-fill-available;
    }
  }

  p {
    color: #fff;
    font-size: $content-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include sm {
      font-size: $content-font-size;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    p {
      width: 80%;
      margin-bottom: 26px;
      text-align: left;
      @include sm {
        text-align: center;
        font-size: $content-font-size;
        margin-top: 20px;
        width: 100%;
      }
    }
    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 20px;
      @include sm {
        width: 95%;
        margin: 0 auto;
      }
      label {
        font-size: $content-font-size;
        font-weight: 600;
        margin-bottom: 20px;
        @include sm {
          margin-top: 10px;
          font-size: $content-font-size;
        }
      }
      input {
        width: 100%;
        height: 70px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 16px;
        &:focus {
          outline: none;
        }
        &:placeholder-shown {
          color: #8e8e8e;
          font-size: $content-font-size;
          @include sm {
            font-size: $content-font-size;
          }
        }
      }
      textarea {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
        &:focus {
          outline: none;
        }

        &:placeholder-shown {
          color: #8e8e8e;
          font-size: $content-font-size;
          @include sm {
            font-size: $content-font-size;
          }
        }
      }
    }
    button {
      margin-top: 40px;
      border: none;
      border-radius: 10px;
      background: #d41876;
      color: #fff;
      font-size: $content-font-size;
      font-weight: 500;
      margin-top: 20px;
      padding: 20px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #c4176f;
        background: #fff;
      }
      @include sm {
        width: 95%;
        margin: 0 auto;
        font-size: $content-font-size;
        margin-top: 20px;
      }
    }
  }
}
