@font-face {
  font-family: "OpenSans";
  src: url("/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype"),
    url("/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  /* Add other font formats if available (e.g., .ttf, .eot) */
  font-weight: normal;
  font-style: normal;
}
