.container{
    text-align: left;
}

.heading .split-container{
    display: flex;
    align-items: center;
}

.heading .heading-line {
    margin-right: 15px;
    width: 55px;
    height: auto;
}

.heading .heading-line > hr{
    border: 2px solid #D41876;
}

.heading .heading-text{
    display: flex;
    align-items: center;
    color: #D41876;

    font-family: 'HelveticaNeueMediumExtended', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
    letter-spacing: -0.84px;
    text-transform: capitalize;
}

.content{
    margin-top: 15px;

    color: #FFF;
    font-family: 'HelveticaNeueMediumExtended', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
}

.content .split-container{
    display: flex;
    align-items: center;
}

.content .content-space {
    margin-right: 20px;
    width: 55px;
    height: auto; 
}

.content .content-text {
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}

.content .content-text p{
    text-align: justify;
}

.image-right{
    width: -webkit-fill-available;
}

.padding-0{
    padding: 0 !important;
}