.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Ensures the header appears above other content */
}

.navbar-brand{
  display: flex !important;
  align-items: flex-end !important;
  text-decoration: none !important;
  color: inherit !important;

  font-family: 'HelveticaNeueMediumExtended', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -4.4px;
  text-transform: capitalize;
}

.navbar-brand:hover{
  
}

.navbar-brand > .logo{
  width: 55px;
  height: 50px;
}

.navbar-brand > span{
  padding-left: 15px;
  color: #D41876;
  line-height: 2rem !important;
}

.btn-client-login{
  /* width: 240px;
  height: 104px;*/
  border-radius: 10px; 
  background-color: #D41876;
}